<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Сообщения</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
</head>
<body style="background-color: #F0F1F2;">

<nav class="navbar" style="background-color: #FFFFFF;">
    <div class="container-fluid my-2 mx-5">
        <a class="navbar-brand fs-3 fw-bold text-primary ms-2" th:text="${@environment.getProperty('app.projectName.en')}">TanysPerson</a>
        <div class="d-flex justify-content-end">
            <div class="dropdown-center ms-3">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <img th:src="@{${authorizedUser.getAvatar()}}" class="rounded-circle"
                         style="vertical-align: middle;
                                  width: 28px;
                                  height: 28px;
                                  object-fit: cover;
                                  border-radius: 50%;"
                         alt="Cinque Terre">
                    <span th:text="${authorizedUser.getName()+' '+authorizedUser.getSurname()}">Username</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container text-center my-5 mx-5">
    <div class="row justify-content-between">
        <div class="col-2">
            <div class="list-group text-start">
                <button type="submit" class="list-group-item list-group-item-action fw-semibold" form="toProfilePage">Моя страница
                </button>
                <button type="submit" class="list-group-item list-group-item-action fw-semibold" form="toNewsPage">Новости
                </button>
                <button type="submit" class="list-group-item list-group-item-action fw-semibold text-primary">Сообщения
                </button>
                <button type="submit" class="list-group-item list-group-item-action fw-semibold" form="toGroupsPage">
                    Группы
                </button>
                <button type="submit" class="list-group-item list-group-item-action fw-semibold" form="toFriendsPage">
                    Друзья
                </button>
                <button type="button" class="list-group-item list-group-item-action fw-semibold">Игры</button>
                <form id="toProfilePage" th:action="@{/profile}" method="get"></form>
                <form id="toNewsPage" th:action="@{/}" method="get"></form>
                <form id="toGroupsPage" th:action="@{/groups}" method="get"></form>
                <form id="toFriendsPage" th:action="@{/friends}" method="get"></form>
                <form id="toGamesPage" th:action="@{/}" method="get"></form>
            </div>
        </div>
        <div class="col-7 ms-5 mx-auto">
            <div class="container rounded bg-white py-4 ps-3">
                <p class="fs-5 text-center fw-semibold mb-5">Сообщения</p>

                <div th:each="companion,iter:${companions}" class="row p-2" style="max-width: 90%;">
                    <div class="col-2 mt-1 ms-1">
                        <a class="navbar-brand" th:href="@{/user/{id}(id=${companion.id})}"><img
                                th:src="@{${companion.avatar}}"
                                style="vertical-align: middle;
                                  width: 65px;
                                  height: 65px;
                                  object-fit: cover;
                                  border-radius: 50%;"
                                class="rounded-circle me-2" alt="..."></a>
                    </div>
                    <div class="col-9 p-0 m-0">
                        <a class="navbar-brand" th:href="@{/messages/{id}(id=${companion.id})}">
                            <div class="d-flex justify-content-between">
                                <p class="fs-5" th:text="${companion.name+' '+companion.surname}">John Hopkins</p>
                                <p class="fs-6 fw-light"
                                   th:text="${companionsLastMessage[iter.index].getCreatedAt().getHour()+(companionsLastMessage[iter.index].getCreatedAt().getMinute()<10?':0':':')+ companionsLastMessage[iter.index].getCreatedAt().getMinute()}">
                                    11:23</p>
                            </div>
                            <p th:text="${companionsLastMessage[iter.index].message}"
                               class="fs-6 fw-light text-start text-nowrap" style="white-space: nowrap;
                                                                                       width: 90%;
                                                                                       overflow: hidden;
                                                                                       text-overflow: ellipsis;">Hello
                                Dauren, how are you?</p>
                            <hr class="mb-1">
                        </a>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>


</body>
</html>
