<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>
<body style="background-color: #F0F1F2;">

<nav class="navbar"  style="background-color: #FFFFFF;">
    <div class="container-fluid my-2 mx-5">
        <a class="navbar-brand fs-3 fw-bold text-primary ms-2">TanysPerson</a>
        <div class="d-flex justify-content-end">
            <div class="dropdown-center ms-3">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img th:src="@{${currentUser.getAvatar()}}" class="rounded-circle" style="max-width: 28px;" alt="Cinque Terre">
                    <span th:text="${currentUser.getName()+' '+currentUser.getSurname()}">Username</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container text-center my-5 mx-5">
    <div class="row justify-content-between">
        <div class="col-2">
            <div class="list-group text-start">
                <button type="submit" class="list-group-item list-group-item-action fw-semibold text-primary">My Profile</button>
                <button type="submit" class="list-group-item list-group-item-action fw-semibold" form="toNewsPage">News Page</button>
                <button type="submit" class="list-group-item list-group-item-action fw-semibold" form="toMessagesPage">Messages</button>
                <button type="submit" class="list-group-item list-group-item-action fw-semibold" form="toGroupsPage">Groups</button>
                <button type="submit" class="list-group-item list-group-item-action fw-semibold" form="toFriendsPage">Friends</button>
                <button type="button" class="list-group-item list-group-item-action fw-semibold">Games</button>
                <form id="toNewsPage" th:action="@{/}" method="get"></form>
                <form id="toMessagesPage" th:action="@{/messages}" method="get"></form>
                <form id="toGroupsPage" th:action="@{/groups}" method="get"></form>
                <form id="toFriendsPage" th:action="@{friends}" method="get"></form>
                <form id="toGamesPage" th:action="@{/}" method="get"></form>
            </div>
        </div>
        <div class="col-9 ms-5 mx-auto">
            <div class="container rounded bg-white py-4">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-5">
                            <button type="button" class="btn rounded-circle" style="height: auto" data-bs-toggle="modal" data-bs-target="#photoModal">
                                <img th:src="@{${currentUser.getAvatar()}}" height="200px" class="rounded-circle me-2" alt="..."></button>
                            <div class="text-center my-4">
                                <button type="button" class="btn btn-light fw-semibold me-1" data-bs-toggle="modal" data-bs-target="#friendsListModal"><p class="fs-6 m-0" th:text="${friends.size()}">7</p>друзей</button>
                                <button type="button" class="btn btn-light fw-semibold me-1" data-bs-toggle="modal" data-bs-target="#subscribersListModal"><p class="fs-6 m-0" th:text="${subscribers.size()}">7</p>подписчиков</button>
                                <button type="button" class="btn btn-light fw-semibold" data-bs-toggle="modal" data-bs-target="#subscriptionListModal"><p class="fs-6 m-0" th:text="${groups.size()+friends.size()}">7</p>подписок</button>
                            </div>
                        </div>
                        <div class="col text-start ms-3">
                            <div class="d-flex justify-content-between">
                                <p class="fs-3 d-inline-flex" th:text="${currentUser.getName()+' '+currentUser.getSurname()}">Name Surname</p>
                                <a class="btn btn-primary" href="#" style="height: 40px" role="button">Подписаться</a>
                            </div>
                            <p class="fs-6" th:if="${!currentUser.getStatus().isEmpty()}" th:text="${'Статус: '+currentUser.getStatus()}">Статус: Занят 💻</p>
                            <p class="fs-6" th:if="${!currentUser.getLocation().isEmpty()}" th:text="${'Город: '+currentUser.getLocation()}">Город: Актау</p>
                            <p class="fs-6" th:if="${currentUser.getBirthDate()!=null}" th:text="${'День рождения: '+currentUser.getBirthDate()}">День рождения: 9 ноября 2000</p>
                            <p class="fs-6" th:if="${!currentUser.getUniversity().isEmpty()}" th:text="${'Образование: '+currentUser.getUniversity()}">Образование: МУИТ</p>
                            <p class="fs-6" th:if="${!currentUser.getJob().isEmpty()}" th:text="${'Работа: '+currentUser.getJob()}">Работа: Geegle</p>
                            <div class="overflow-auto h-auto" style="width: 90%;background-color: #f3f3f3;overflow: auto;
                                                                             white-space: nowrap;">
                                <button type="button" class="btn m-0 p-0" style="" data-bs-toggle="modal" data-bs-target="#photoModal">
                                    <img src="https://via.placeholder.com/200" class="img-fluid d-inline-flex" style="width: 5.5rem;" alt="..."></button>
                                <button type="button" class="btn m-0 p-0" style="" data-bs-toggle="modal" data-bs-target="#photoModal">
                                    <img src="https://via.placeholder.com/200" class="img-fluid d-inline-flex" style="width: 5.5rem;" alt="..."></button>
                                <button type="button" class="btn m-0 p-0" style="" data-bs-toggle="modal" data-bs-target="#photoModal">
                                    <img src="https://via.placeholder.com/200" class="img-fluid d-inline-flex" style="width: 5.5rem;" alt="..."></button>
                                <button type="button" class="btn m-0 p-0" style="" data-bs-toggle="modal" data-bs-target="#photoModal">
                                    <img src="https://via.placeholder.com/200" class="img-fluid d-inline-flex" style="width: 5.5rem;" alt="..."></button>
                                <button type="button" class="btn m-0 p-0" style="" data-bs-toggle="modal" data-bs-target="#photoModal">
                                    <img src="https://via.placeholder.com/200" class="img-fluid d-inline-flex" style="width: 5.5rem;" alt="..."></button>
                                <button type="button" class="btn m-0 p-0" style="" data-bs-toggle="modal" data-bs-target="#photoModal">
                                    <img src="https://via.placeholder.com/200" class="img-fluid d-inline-flex" style="width: 5.5rem;" alt="..."></button>
                            </div>
                        </div>
                    </div>

                </div>
                <hr>




                <div th:each="post:${posts}" class="card mx-auto my-3" style="width: 80%;">
                    <div class="card-body">

                        <div id="header" class="d-flex justify-content-between mb-0">
                            <a href="#" class="text-decoration-none text-dark">
                                <div class="d-inline-flex">
                                    <img th:src="@{${post.getAuthor().getAvatar()}}" height="40px" class="rounded-circle me-2" alt="...">
                                    <p class="fs-6 mt-2" th:text="${post.getAuthor().getName()+' '+post.getAuthor().getSurname()}">Name Surname</p>
                                </div></a>
                            <div class="d-flex align-center">
                                <p id="created_at" class="fs-6 mt-1" th:text="${post.getCreatedAt().getHour()+':'+post.getCreatedAt().getMinute()}">11:43</p>
                                <div class="d-inline-flex text-end">

                                    <div id="settings" class="dropdown" style="display: none">
                                        <button class="btn btn-light fs-5 fw-semibold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            ⋮
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><button class="dropdown-item" type="button">Удалить</button></li>
                                        </ul>
                                    </div>
                                </div>

                                <script>

                                    document.getElementById("header").addEventListener("mouseover", mouseOver);
                                    document.getElementById("header").addEventListener("mouseout", mouseOut);

                                    function mouseOver() {
                                        document.getElementById("created_at").style.display = "none";
                                        document.getElementById("settings").style.display = "inline";
                                    }

                                    function mouseOut() {
                                        document.getElementById("settings").style.display = "none";
                                        document.getElementById("created_at").style.display = "inline";
                                    }

                                </script>
                            </div>

                        </div>
                        <hr class="mt-0 mb-3">
                        <a href="#" class="text-decoration-none text-dark" data-bs-toggle="modal" data-bs-target="#postModal"><p class="card-text text-start fs-6" th:text="${post.getPost()}">With supporting text below as a natural lead-in to additional content.</p></a>
                    </div>
                    <div class="card-footer text-start">
                        <button type="button" class="btn btn-light btn-sm">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52tbpQ8Q8MX5ZkTaHbzV2h2-NInPjmfxTpw&usqp=CAU" class="rounded-circle" style="max-width: 20px;" alt="Cinque Terre">
                            Like <p class="m-0 d-inline-flex" th:text="${post.getRating()}">777</p>
                        </button>
                        <button type="button" class="btn btn-light btn-sm fw-semibold" data-bs-toggle="modal" data-bs-target="#postModal">
                            Comments
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--   Friends list Modal-->
<div class="modal fade" id="friendsListModal" tabindex="-1" aria-labelledby="friendsListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="width: 360px;margin: auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 ms-4" id="addPostModalLabel">Друзья</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row p-2 mx-auto">
                    <a href="#" class="text-decoration-none text-dark">
                        <div class="d-inline-flex">
                            <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle me-3" alt="...">
                            <p class="fs-6 fw-semibold my-2">Dauren Absattarov</p>
                        </div>
                    </a>
                </div>
                <div class="row p-2 mx-auto">
                    <a href="#" class="text-decoration-none text-dark">
                        <div class="d-inline-flex">
                            <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle me-3" alt="...">
                            <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                        </div>
                    </a>
                </div>
                <div class="row p-2 mx-auto">
                    <a href="#" class="text-decoration-none text-dark">
                        <div class="d-inline-flex">
                            <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle me-3" alt="...">
                            <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                        </div>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>
<!--Friends list Modal end-->
<!--   Subscribers list Modal-->
<div class="modal fade" id="subscribersListModal" tabindex="-1" aria-labelledby="subscribersListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="width: 360px;margin: auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 ms-4" id="subscribersListModalLabel">Подписчики</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Subscribers list Modal end-->

<!--   subscription list Modal-->
<div class="modal fade" id="subscriptionListModal" tabindex="-1" aria-labelledby="subscriptionListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="width: 360px;margin: auto;">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 ms-4" id="subscriptionListModalLabel">Подписки</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
                <div class="row p-2 mx-auto mt-1">
                    <div class="col-2 me-3">
                        <img src="https://via.placeholder.com/200" height="45px" class="rounded-circle" alt="...">
                    </div>
                    <div class="col">
                        <p class="fs-6 fw-semibold my-2">Гулназ Абдижапарова</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--subscription list Modal end-->

<!--   Photo Modal-->
<div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="photoModalLabel">Фотография</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center" style="height: 500px;background-color: #717171">
                <img src="https://via.placeholder.com/300" class="img-fluid" style="width: auto;
                                                                                            max-height: 500px;
                                                                                            position: relative;
                                                                                            top: 50%;
                                                                                            transform: translateY(-50%);" alt="...">
            </div>
            <div class="modal-footer">
                <div class="container my-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <button type="button" class="btn btn-light btn-sm fs-6">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52tbpQ8Q8MX5ZkTaHbzV2h2-NInPjmfxTpw&usqp=CAU" class="rounded-circle" style="max-width: 24px;" alt="Cinque Terre">
                                Like <p class="m-0 d-inline-flex">777</p>
                            </button>
                            <button type="button" class="btn btn-light btn-sm fw-bold fs-6" disabled>
                                Comments
                            </button>
                        </div>

                        <div class="d-inline-flex text-end">
                            <button class="btn btn-light fs-5 fw-semibold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ⋮
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Удалить</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="container m-0 p-0">
                    <hr class="my-3">
                </div>
                <div class="container mb-3 mt-4" >
                    <div class="row justify-content-center">
                        <div class="col-9">
                            <div class="card">
                                <div class="card-body d-flex">
                                    <input class="form-control me-2" type="text">
                                    <button class="btn btn-outline-primary" type="submit">Написать</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-2 mb-4 overflow-auto" style="max-height: 500px;">
                    <div class="row justify-content-center">
                        <div class="col-9">
                            <p class="fs-5 text-start">1 комментарии:</p>
                            <div class="card mt-2">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-inline-flex">
                                            <img src="https://via.placeholder.com/200" width="35px" height="35px" class="rounded-circle me-2" alt="...">
                                            <p class="fs-6 mt-1">Dauren Absattarov</p>
                                        </div>
                                        <p class="fs-6">11:43</p>
                                    </div>
                                    <p class="card-text text-start" style="width: 90%;
                                                                                   hyphens: auto">Вау какая классная фотография.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Photo Modal end-->

<!-- Post Modal-->
<div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header pb-2">
                <h1 class="modal-title fs-5" id="postModalLabel">
                    <a href="#" class="text-decoration-none text-dark">
                        <div class="d-inline-flex">
                            <img src="https://via.placeholder.com/200" height="44px" class="rounded-circle me-2" alt="...">
                            <p class="fs-6 mt-2">Dauren Absattarov</p>
                        </div>
                    </a>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-4" style="min-height: 100px">
                <p class="card-text text-start fs-6">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="modal-footer">
                <div class="container text-start">
                    <button type="button" class="btn btn-light btn-sm fs-6">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52tbpQ8Q8MX5ZkTaHbzV2h2-NInPjmfxTpw&usqp=CAU" class="rounded-circle" style="max-width: 24px;" alt="Cinque Terre">
                        Like <p class="m-0 d-inline-flex">777</p>
                    </button>
                    <button type="button" class="btn btn-light btn-sm fw-bold fs-6" disabled>
                        Comments
                    </button>
                </div>

                <div class="container m-0 p-0">
                    <hr class="my-3">
                </div>
                <div class="container mb-3 mt-4" >
                    <div class="row justify-content-center">
                        <div class="col-9">
                            <div class="card">
                                <div class="card-body d-flex">
                                    <input class="form-control me-2" type="text">
                                    <button class="btn btn-outline-primary" type="submit">Написать</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-2 mb-4 overflow-auto" style="max-height: 500px;">
                    <div class="row justify-content-center">
                        <div class="col-9">
                            <p class="fs-5 text-start">1 комментарии:</p>
                            <div class="card mt-2">
                                <div class="card-body">
                                    <div id="comment_header" class="d-flex justify-content-between">
                                        <div class="d-inline-flex">
                                            <img src="https://via.placeholder.com/200" width="35px" height="35px" class="rounded-circle me-2" alt="...">
                                            <p class="fs-6 mt-1">Dauren Absattarov</p>
                                        </div>
                                        <p id="comment_created_at" class="fs-6">11:43</p>

                                        <div id="dropdown_settings" class="dropup-center dropup" style="display: none">
                                            <button class="btn btn-light fs-6 fw-semibold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                ⋮
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-lg-end">
                                                <li><button class="dropdown-item" type="button">Редактировать</button></li>
                                                <li><button class="dropdown-item" type="button">Удалить</button></li>
                                            </ul>
                                        </div>

                                        <script>

                                            document.getElementById("comment_header").addEventListener("mouseover", mouseOver2);
                                            document.getElementById("comment_header").addEventListener("mouseout", mouseOut2);

                                            function mouseOver2() {
                                                document.getElementById("comment_created_at").style.display = "none";
                                                document.getElementById("dropdown_settings").style.display = "inline";
                                            }

                                            function mouseOut2() {
                                                document.getElementById("dropdown_settings").style.display = "none";
                                                document.getElementById("comment_created_at").style.display = "inline";
                                            }

                                        </script>



                                    </div>
                                    <p class="card-text text-start" style="width: 90%;
                                                                                   hyphens: auto">Очень хороши пост.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Post Modal end-->


</body>
</html>
