<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>
<body id="ddd" style="background-color: #F0F1F2;">

<nav id="test" class="navbar"  style="background-color: #FFFFFF;">
    <div class="container-fluid my-2 mx-5">
        <a id="title" href="#" class="navbar-brand fs-3 fw-bold text-primary ms-2">TanysPerson</a>
        <div class="d-flex justify-content-end">
            <div class="dropdown-center ms-3">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span>Username</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<script th:inline="javascript">

        for (let i =0;i<2;i++){
            const commentFrame = document.getElementById("test").cloneNode(true);

            const authorAvatar = commentFrame.querySelector('#title');
            authorAvatar.innerText="Daurensky text";

            document.querySelector('#ddd').appendChild(commentFrame);
        }

</script>

</body>
</html>